body {
    background-color: #111111;
    margin: 0px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat url("Img/home_background.jpg");
    height: 450px;
    width: auto;
}

#home_text {
    color: gold;
    font-size: 40px;
    font-weight: bold;
}

#menu_icon{
    display: flex;
    width: 100px;
    height: 35px;
    margin: 5px;
}

#menu {
    display: flex;
    padding-left: 0px;
    height: 60px;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;    
}

.menu_item {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-image: url("Img/gold_border2.png");
    border-image-slice: 30%;
    border-image-repeat: repeat;
    border-image-width: auto;
    border-image-outset: 10px;
}

.text_menu,.text_menu:visited {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
}

.text_menu:hover {
    color: bisque;
    text-decoration: none;
    font-size: larger;
}

#tableau {
    background: center / cover no-repeat url("Img/background.jpg");
    display: flex;
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer {
    display: flex;
    text-decoration: none;
    color: aliceblue;
}
.menu_region {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 0px;
    padding-left: 0px;
}

.image_region { 
    margin: 5px;
    width: 300px;
    height: 150px;
}

.icon_region {
    position: absolute;
    top: 175px;
    bottom: 0px;
    right: 0px;
    left: 212px;
    height: 75px;
}

.list_region {
    display: block;
}

footer {
    display: flex;
    justify-content: center;
}