body {
    background-color: #111111;
}
#menu {
    display: flex;
}
#tableau {
    background: center / cover no-repeat url("Img/background.jpg");
    display: flex;
    width: auto;
    height: auto;
}
footer {
    display: flex;
}
.menu_region {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.image_region { 
    margin: 5px;
    width: 300px;
    height: 150px;
}

.list_region {
    display: block;
}